# RapidAPI Configuration
NEXT_PUBLIC_RAPIDAPI_KEY=
NEXT_PUBLIC_RAPIDAPI_HOST=cricbuzz-cricket.p.rapidapi.com

# Firebase Configuration
# (These are populated automatically if using the platform's Firebase tool)
