node_modules
.next
.env
.env.local
.DS_Store
tsconfig.tsbuildinfo
.vercel
.env*
e2e/.tokens.json
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebase/
playwright-report/
test-results/
blaze-init.json
